.form-container {
    width: 30%;
    margin: 4rem auto 0;
    background-color: #f7f7f7;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: xx-large;
    color: cornflowerblue;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin: 0 0 1rem 0;
}

input {
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px cornflowerblue;
}

button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 0.2rem;
    width: 100%;
    font-size: 20px;
    padding: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
}

button:active {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset;
}

p {
    text-align: center;
}

p a {
    text-decoration: none;
    color: cornflowerblue;
}